<div class="container">
    <div class="card">
        <div class="card-body">
            <h2>Github Search.</h2>
            <p>Enter your github user name below.</p>
            <form (ngSubmit)="searchUserName()" #searchForm = 'ngForm'>
                <div class="form-group">
                    <label for="user-name">User name:</label>
                    <input type="text" id="userName">
                </div>
                <br>
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
</div>
