.card-body {
    background-color: whitesmoke;
}
.info {
    text-align: center;
}
.user-profile {
    text-align: center;
}
h4 {
    text-align: center;
    color: olive;
}
.button {
    text-align: center;
}