<div class="container">
    <div class="card">
        <div class="card-body">
            <app-form (displayUser)="displayNewUser($event)"></app-form>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <h4>User photo</h4>
            <div class="photo"><img src="{{user.avatar_url}}" alt="" height="330px" width="450px"></div>
        </div>
        <div class="col-md-6">
            <h4>User profile</h4>
            <div class="card">
                <div class="card-body" appHighlight>
                    <div class="user-profile">
                        <p>User name: <strong>{{user.login}}</strong></p>
                        <p>Followers: {{user.followers}}</p>
                        <p>Following: {{user.following}}</p>
                        <p>Repositories: {{user.public_repos}}</p>
                        <p>Created on {{user.created_at| date}}</p>
                        <a href="{{user.html_url}}" class="btn btn-success">Github profile</a>
                    </div> 
                </div>
            </div>  
        </div>
    </div>
        
    <app-repositories></app-repositories>
</div>
                    
                
     











